{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">welcome to SajiShop...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p alig = "justify">
                    <br/><br/>
                    <b><font size = '10'>
                        About Us
                    </font></b>
                    <br/><br/>
                     <b> WHAT WE DO?</b>
                    <br/><br/>
                    SajiShop gives you a chance to quickly and easily find the device you want and have it delivered to
                    your home in no time, regardless of your location, as long as it is in one of the countries of the Asia.
                    <br/><br/>
                    <br/><br/>
                     <b> WHY DO CUSTOMERS LOVE US? </b> 
                    <br/><br/>
                    We have been in the business for quite a while now, and in that time we have not only managed to make
                    close relationships with numerous partners, but also to recognize what people need. At SajiShop you
                    will find quality products from top brands at consistently low prices. We are offering a wide range of
                    smartphones and tablets, notebooks and computer equipment, headsets and smartwatches, small household
                    appliances and other electronics. Intelligent filter options and complete product information help
                    customers to find exactly the products that suit them.
                    <br/><br/>
                    <br/><br/>
                    <b>
                        BEGINNING
                    </b>
                    <br/><br/>
                    MobileShop website was launched in 2011, but its story actually began some 8 years before that when a
                    group of college friends decided to go into business together. We started selling phones in shops, but
                    our combined ambition, drive and abilities soon made us look for new challenges and new markets.
                    Starting an online shop provided for both and allowed us to develop a strong international presence in a
                    number of Asia countries.
                    <br/><br/>
                    <b>
                        TODAY
                    </b>
                    <br/><br/>
                    Mobileshop.eu is today an e-commerce platform which enables third party sellers to sell their products
                    to customers using the platform. Collective experience of our team members and the years we have spent
                    in the business allowed us to develop a vast network of partners, ensuring that our customers will
                    always find what they are looking for. This also means that we are able to offer great prices, which are
                    constantly being updated and follow the shifts in the market.
    
                    Our affordability, fast and reliable delivery, and the fact that you will always be able to find the
                    product that you are looking for in our offer, have made us stand out in the market. We are constantly
                    improving our services so we are trying to keep in close touch with our customers and listen to their
                    suggestions and critiques. This is why our customer service, which is always there to answer any
                    question that you may have, is just as willing to listen as it is to inform.
                </p>


            </div>
        </center>

    </div>

</div>
{% endblock %}